/* ----------------------------------------------- TEMPLATE -------------------*/
.lobby {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    background: var(--background-portada) no-repeat center center fixed ;
    background-size:cover;
}

.lobby .lienzo {
    display: grid;
    grid-template-areas:
        "lobby-header"
        "lobby-main";
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content; 
}

.lobby .main {
    width: 100%;
    height: 100%;
    grid-area: lobby-main;
    display: grid;
    grid-template: "lobby-izquierda lobby-centro lobby-derecha";
    grid-template-columns: 33% 33% 33%;
    /*grid-template-columns: min-content auto min-content;*/
    /*grid-template-columns: repeat(auto-fit,minmax(320px, 1fr));   */
    /*grid-template-columns: minmax(320px, 1fr) minmax(320px, 1fr) minmax(320px, 1fr);*/
}

.lobby .main .izquierda {
    grid-area: lobby-izquierda;
    width:100%;
    height:100%;
    padding: var(--espaciado-l);
    display: grid;
}

.lobby .main .centro {
    grid-area: lobby-centro;
    width:100%;
    height:100%;
    padding: var(--espaciado-l);
    display: grid;

}
.lobby .main .derecha {
    grid-area: lobby-derecha;
    width:100%;
    height:100%;
    padding: var(--espaciado-l);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto calc(var(--medida-xxl) * 2);
    justify-items: center;
}


/* ----------------------------------------------- MAIN / izquierda -------------------*/
.comunidad {
    
} 

.comunidad .feeds .feed {
    position: relative;
    width: 100%;
    min-height: var(--medida-xxl);
    padding: var(--espaciado-s);
    display: grid;
    grid-template-columns: var(--medida-l) auto;
    margin: var(--espaciado-xs) 0px;
    place-items: center;
    background-color: var(--shadow-color-80);
    border-radius: var(--borde-xxl);
    border: var(--borde-xxs) solid var(--shadow-color-20);
    filter: var(--sombra-subtle);
}



.comunidad .feeds .feed::before {
    content: "";
    display: block;
    height: 0.15rem;
    position: absolute;
    z-index: 2;
    top: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 1rem);
    /*background: var(--primary-color);*/
    border-radius: 100%;
    opacity: 0.3;
    background-image: linear-gradient(90deg, var(--shine-color-0) 0%, var(--shine-color-40) 80%);
  }
  
.comunidad .feeds .feed::after {
    content: "";
    display: block;
    height: 0.1rem;
    position: absolute;
    z-index: 3;
    bottom: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 1rem);
    /*background: var(--primary-color);*/
    border-radius: 100%;
    opacity: 0.3;
    background-image: linear-gradient(90deg, var(--shine-color-0) 0%, var(--shine-color-40) 80%);
}


.comunidad .feeds .feed .imagen {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.comunidad .feeds .feed .imagen .miniavatar {
    width: var(--medida-xxs)!important;
    height: var(--medida-xxs)!important;
    bottom: 4px;
    left: calc(var(--medida-xs)/1.25);
}

.comunidad .feeds .feed .texto {
    width: -webkit-fill-available;
    margin-left: var(--espaciado-l);
    font-family: "Regular";
    font-size: var(--font-l);
    text-align: left;
}

.comunidad .feeds .feed .nota {
    margin-top: var(--espaciado-xxs);
    width: -webkit-fill-available;
}

.feed-1 {
    background-image: var(--insignia);
}

.feed-2 {
    background-image: var(--punto);
}

.feed-3 {
    background-image: var(--valor-3);
}

.feed-4 {
    background-image: var(--trofeo);
}



/* ----------------------------------------------- MAIN / centro -------------------*/
.avatar {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: var(--sombra-long);
}


.avatar-1 {
    background-image: var(--avatar-1);
}

.avatar-2 {
    background-image: var(--avatar-2);
}

/* ----------------------------------------------- MAIN / derecha -------------------*/
.misiones {
    
}

.misiones .mision {
    position: relative;
    width: 100%;
    padding: var(--espaciado-l) var(--espaciado-l) var(--espaciado-l) var(--espaciado-l);
    margin: var(--espaciado-xs) 0px;
    display: grid;
    place-items: center;
    background-color: var(--shadow-color-80);
    border-radius: var(--borde-xxl);
    border: var(--borde-xxs) solid var(--shadow-color-20);
    filter: var(--sombra-subtle);
}


.misiones .mision::before {
    content: "";
    display: block;
    height: 0.15rem;
    position: absolute;
    z-index: 2;
    top: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 1rem);
    /*background: var(--primary-color);*/
    border-radius: 100%;
    opacity: 0.3;
    background-image: linear-gradient(90deg, var(--shine-color-0) 0%, var(--shine-color-40) 80%);
  }
  
.misiones .mision:after {
    content: "";
    display: block;
    height: 0.1rem;
    position: absolute;
    z-index: 3;
    bottom: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 1rem);
    /*background: var(--primary-color);*/
    border-radius: 100%;
    opacity: 0.3;
    background-image: linear-gradient(90deg, var(--shine-color-0) 0%, var(--shine-color-40) 80%);
}



.misiones .mision .texto {
    width: -webkit-fill-available;
    font-family: "Regular";
    font-size: var(--font-l);
    text-align: left;
}


.misiones .mision .wrap {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: auto max-content;
    place-items: center;
}

.misiones .mision .progreso {
    position: relative;
    z-index: -1;
    width: 100%;
}

.misiones .mision .progreso .barra {
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    height: calc(var(--medida-xxs) / 2);
    width: 96%;
    border: 1px solid var(--dark-color);
    border-radius: 50px;
    background: var(--tertiary-color-medium);
    /*background-image: linear-gradient(-135deg, var(--tertiary-color-subtle)0%, var(--tertiary-color-subtle) 100%);*/
    overflow: hidden;
    filter: var(--sombra-hard)
}

.misiones .mision .progreso .barra .barra-progreso {
    display: block;
    width: 50%; /* este valor modificar por javascript */
    height: 100%;
    border-radius: 50px;
    background-image: linear-gradient(
        -45deg,
        var(--primary-color-light) 25%, /* color A */
        var(--primary-color-dark) 25%, /* color B */
        var(--primary-color-dark) 50%, /* color B */
        var(--primary-color-light) 50%, /* color A */
        var(--primary-color-light) 75%, /* color A */
        var(--primary-color-dark) 75%, /* color B */
        var(--primary-color-dark) /* color B */
    );
    background-size: 50px 50px;
    filter: var(--sombra-intense);
    animation: animacion-barraprogreso 1s infinite linear;
} 
@keyframes animacion-barraprogreso {
    0% {
        background-position: 0 0;
    }
    100% {background-position: 50px 50px;
    }
}


.misiones .mision .recompensa {
    position: relative;
    left: -10px;
    top: 6px;
    display: grid;
    grid-template-columns: var(--medida-xxs) auto;
    grid-template-rows: auto;
    place-items: center;
}

.misiones .mision .recompensa .icono {
    width: var(--medida-xs);
    height: var(--medida-xs);
    background-image: var(--punto);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.misiones .mision .recompensa .valor {
    width: var(--medida-xs);
    margin-left: var(--espaciado-m);
    font-family: "Regular";
    font-size: var(--font-l);
    text-align: center;
    filter: var(--sombra-soft);
}

.misiones .mision .recompensa .fondo {
    position: absolute;
    z-index: -1;
    width: calc(var(--medida-xxl) * 1);
    height: calc(var(--medida-xxs) * 1.1);
    transform: translateX(var(--espaciado-m));
    font-family: "Regular";
    font-size: var(--font-xl);
    border-radius: var(--borde-xl);
    opacity: 0.9;
    
}

.misiones .mision .recompensa .fondo::before {
    content: "";
    display: block;
    height: 0.1rem;
    position: absolute;
    z-index: 2;
    top: 0.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 1rem);
    background: var(--primary-color);
    border-radius: 100%;
    opacity: 0.9;
    background-image: linear-gradient(-270deg, var(--light-color) 20%, var(--light-color) 60%, var(--shine-color-40) 80%);
  }
  
.misiones .mision .recompensa .fondo::after {
    content: "";
    display: block;
    height: 0.1rem;
    position: absolute;
    z-index: 3;
    bottom: 0.2rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 1rem);
    background: var(--primary-color);
    border-radius: 100%;
    opacity: 0.9;
    background-image: linear-gradient(-270deg, var(--light-color) 20%, var(--light-color) 60%, var(--shine-color-40) 80%);
}

.lobby .boton {
    background-color: aqua;
    width: 100%;
}

.lobby .btn-cursos {
    width: calc(var(--medida-xxl) * 5);
    height: calc(var(--medida-xs) * 2);
    margin: var(--espaciado-m);
    padding: var(--espaciado-m) var(--espaciado-xxs);
    display: grid;
    place-items: center;
    border: var(--borde-m) solid var(--primary-color-light);
    border-radius: 90px;
    background-image: linear-gradient(-5deg, var(--primary-color-light)0%, var(--primary-color-dark)30%, var(--primary-color-dark)70%, var(--primary-color-light)95%);
    filter: var(--sombra-hard);
    transition: 0.5s ease;
}

.lobby .btn-cursos:hover {
    border: var(--borde-s) solid var(--tertiary-color-light);
    background-image: linear-gradient(-5deg, var(--tertiary-color-light)0%, var(--tertiary-color-dark)30%, var(--tertiary-color-dark)70%, var(--tertiary-color-light)95%);
}

.lobby .btn-cursos .texto {
    padding: var(--espaciado-m) var(--espaciado-xl);
    font-family: "Bold";
    font-size: var(--font-xl);
    letter-spacing: 2.5px;
    text-shadow: 1px 1px 1px var(--primary-color-light);
    filter: var(--sombra-medium);
}





/* ------------------------------------------------------------------------------------------------------------------------------ VISTAS RESPONSIVE */

/* ------------------------------------------------------------------------------------------------------------------------------ XLarge */

@media (min-width:2560px) and (min-height:1278px) { /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> XLarge hotizontal */

}

@media (min-width:1278px) and (min-height:2560px) { /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> XLarge vertical */

}


/* ------------------------------------------------------------------------------------------------------------------------------ Tablets */

@media (max-width:1366px) and (max-height:1024px) { /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Tablets horizontal */

}

@media (width:1024px) and (height:1366px) { /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Tablets vertical */
    .lobby .main {
        grid-template:
            "lobby-centro lobby-centro"    
            "lobby-izquierda lobby-derecha";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100% 100%;
    }
}


/* ------------------------------------------------------------------------------------------------------------------------------ Escritorio */

@media (max-width:1536px) and (max-height:767px) { /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Escritorio 125% */

}

@media (max-width:1280px) and (max-height:639px) { /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Escritorio 150% */

}

@media (max-width:1098px) and (max-height:548px) { /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Escritorio 175% */

}

@media (max-width:960px) and (max-height:479px) { /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Escritorio ventanas */

}

@media (max-width:768px) and (max-height:384px) { /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Escritorio mini ventanas */

}


/* ------------------------------------------------------------------------------------------------------------------------------ Móviles vertical */

@media (max-width:479px) and (max-height:960px) { /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Móviles vertical */
    .lobby .main {
        grid-template:
            "lobby-centro"    
            "lobby-derecha"
            "lobby-izquierda";
        grid-template-columns: 1fr;
        grid-template-rows: calc(var(--medida-xxl) * 6) calc(var(--medida-xxl) * 6) calc(var(--medida-xxl) * 8);
    }
    
}

@media (max-width:384px) and (max-height:768px) { /* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Mini móviles vertical */

}