/* ----------------------------------------------- TEMPLATE -------------------*/
.progreso-curso {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    place-items: center;
    background: var(--background-progreso) no-repeat center center fixed ;
    background-size:cover;
    position: relative;
}

.progreso-curso .lienzo {
    display: grid;
    grid-template-areas:
        "progreso-header"
        "progreso-main"
        "progreso-footer";
    grid-template-columns: auto;
    grid-template-rows: min-content auto min-content;
}


.progreso-curso .header {
    position: relative;
    z-index: 2;
    grid-area: progreso-header;
    display: grid;
    place-items: center;
}

.progreso-curso .main {
    position: relative;
    z-index: 1;
    grid-area: progreso-main;
    display: grid;
    /*grid-template: "progreso-izquierda progreso-derecha";*/
    grid-template: "progreso-derecha";
    grid-template-columns: 1fr;
    /*grid-template-columns: min(380px,100%) auto;*/
    justify-content: center;
}

.progreso-curso .main .izquierda {
    grid-area: progreso-izquierda;
    display: grid;
    display: none!important;
}

.progreso-curso .main .derecha {
    grid-area: progreso-derecha;
    display: grid;
}

.progreso-curso .footer {
    grid-area: progreso-footer;
    display: grid;
    place-items: center;
}

.progreso-curso .footer .container {
    display: grid;
    place-items: center;
    margin: var(--espaciado-m) var(--espaciado-m) var(--espaciado-l) var(--espaciado-m);
}  



/* ----------------------------------------------- MAIN / progreso-izquierda -------------------*/



/* ----------------------------------------------- MAIN / progreso-derecha -------------------*/
.progreso-curso .main .derecha {
    margin: var(--espaciado-s);
    display: grid;
    place-items: center;
}

.progreso-curso .main .derecha .container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--medida-xs) auto;
    place-items: center;
}

.progreso-curso .progreso-actividades {
    width: 80%;
    min-width: calc(var(--medida-s) * 7);
    max-height: calc(0.55 * 100vh);
    padding: 0px var(--espaciado-m);
    display: grid;
    /*grid-template-rows: repeat(auto-fit,minmax(60px, 1fr));*/
    place-items: center;
    overflow-y: scroll;
}

.progreso-curso .progreso-actividades .progreso-actividad {
    position: relative;
    width: 100%;
    margin:var(--espaciado-xxs) 0px;
    padding: var(--espaciado-s);
    display: grid;
    /*grid-template-columns: 32px minmax(183px,auto);*/
    grid-template-columns: var(--medida-xs) minmax(calc(var(--medida-m) * 3),auto) var(--medida-xl);
    grid-template-rows: minmax(var(--medida-m), var(--medida-m));
    place-items: center;
    border-radius: 10px;
    background-image: linear-gradient(2deg, var(--secundary-color) 2%, var(--secundary-color-soft) 30%, var(--secundary-color-medium) 70%,var(--secundary-color) 98%);
    /*filter: var(--sombra-s);*/
    backdrop-filter: blur(2px);
}

.progreso-curso .progreso-actividades .actividad-actual {
    background-color: var(--primary-color);
    background-image: linear-gradient(0deg, var(--primary-color-dark), var(--primary-color-light));
    border-top: var(--borde-s) solid #fff;
    border-left: var(--borde-s) solid #fff;
    border-right: var(--borde-s) solid #fff;
    border-bottom: var(--borde-s) solid #fff;
}

.progreso-curso .progreso-actividades .progreso-actividad .estado {
    width: var(--medida-xxs);
    height: var(--medida-xs);
    margin-top: var(--espaciado-xs);
    margin-right: var(--espaciado-s);
    filter: var(--sombra-hard);
}

.progreso-curso .progreso-actividades .progreso-actividad .numero {
    width: 100%;
    text-align: center;
    font-family: "Regular";
    font-size:var(--font-m);
    filter: var(--sombra-hard);
}

.progreso-curso .progreso-actividades .progreso-actividad .nombre {
    width: 100%;
    max-height: var(--medida-xl);
    padding-right: var(--espaciado-l);
    padding-left: var(--espaciado-s);
    font-family: "Regular";
    font-size:var(--font-l);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
    filter: var(--sombra-hard);
}

.progreso-curso .progreso-actividades .progreso-actividad .puntos-obtenidos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: var(--medida-xxs) auto;
    grid-template-rows: 1fr;
    place-items: center;
}

.progreso-curso .progreso-actividades .progreso-actividad .puntos-obtenidos .simbolo {
    width: var(--medida-xxs);
    height: var(--medida-xxs);
    background-image: var(--punto);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.progreso-curso .progreso-actividades .progreso-actividad .puntos-obtenidos .valor {
    text-align: right;
    font-family: "Regular";
    font-size:var(--font-m);
    filter: var(--sombra-hard);
}



.progreso-curso .total-wrap {
    width: 80%;
    min-width: calc(var(--medida-m) * 7);
    padding: var(--espaciado-m) var(--espaciado-m);
    display: grid;
    /*grid-template-rows: repeat(auto-fit,minmax(60px, 1fr));*/
    place-items: center;
}


.progreso-curso .total-wrap .total {
    position: relative;
    width: 100%;
    margin: var(--espaciado-xxs) 0px;
    padding: var(--espaciado-s);
    display: grid;
    /*grid-template-columns: 32px minmax(183px,auto);*/
    grid-template-columns: auto var(--medida-xl);
    grid-template-rows: var(--medida-l);
    place-items: center;
    border-radius: 10px;
    background-image: linear-gradient(90deg, var(--tertiary-color-subtle) 1%, var(--tertiary-color-almost) 75%,var(--tertiary-color) 98%);
    /*filter: var(--sombra-s);*/
    backdrop-filter: blur(2px);
}

.progreso-curso .total-wrap .total .nombre {
    width: 100%;
    text-align: right;
    padding-right: var(--espaciado-l);
}